.noticias-pagina {
  padding: 80px 40px;
  background-color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
}

.noticias-header {
  text-align: center;
  margin-bottom: 50px;
}

.noticias-header h1 {
  font-size: 2.5rem;
  color: #024959;
  margin-bottom: 10px;
}

.noticias-header p {
  font-size: 1.1rem;
  color: #444;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}

.noticias-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 0;
  justify-content: space-evenly;
}

.noticia-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 350px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
    width: 25%;
}

.noticia-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.noticia-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.noticia-detalhe {
  padding: 20px;
  text-align: left;
}

.noticia-detalhe h2 {
  font-size: 1.2rem;
  color: #024959;
  margin-bottom: 10px;
}

.noticia-detalhe p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
}

.noticia-btn {
  display: inline-block;
  background-color: #024959;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.noticia-btn:hover {
  background-color: #023d59;
}

.ver-mais-container {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ver-mais-container .banner-btn {
    background-color: #024959;
    color: white;
    padding: 14px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.ver-mais-container .banner-btn:hover {
  background-color: #023d59;
}

@media (max-width: 768px) {
  .noticias-pagina {
    padding: 60px 20px;
  }

  .noticias-header h1 {
    font-size: 2rem;
  }

  .noticias-header p {
    font-size: 1rem;
  }

  .noticias-grid {
  display: flex;
  flex-direction: column;
}

  .noticia-card {
    min-width: 280px;
  }
}