{% extends "base.html" %}
{% block title %}Notícias{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/noticia/noticia.css' %}">

  <section class="banner">
    <div class="banner-overlay">
      <h2>Saiu na imprensa</h2>
    </div>
  </section>

<section class="noticias">
  <div class="grid">
    {% for noticia in noticias %}
      <article class="card-noticia">
        {% if noticia.imagem %}
          <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}">
        {% endif %}
        <h3>{{ noticia.titulo }}</h3>
        <p>{{ noticia.conteudo|truncatechars:180 }}</p>
        {% if noticia.link_externo %}
          <a href="{{ noticia.link_externo }}" target="_blank" class="btn-link">Ver no portal</a>
        {% endif %}
      </article>
    {% empty %}
      <p>Nenhuma notícia cadastrada.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
