{% extends "base.html" %}
{% block title %}Trilhas{% endblock %}

{% block content %}
<section class="trilhas">
  <h1>Trilhas</h1>

  <div class="grid">
    {% for trilha in trilhas %}
      <article class="card-noticia">
        {% if trilha.imagem %}
          <img src="{{ trilhas.imagem.url }}" alt="{{ trilha.titulo }}">
        {% endif %}
        <h3>{{ trilha.titulo }}</h3>
        {% if trilha.link_externo %}
          <a href="{{ trilha.link_externo }}" target="_blank" class="btn-link">Ler trilha</a>
        {% endif %}
      </article>
    {% empty %}
      <p>Nenhuma trilha cadastrada.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}