.banner {
  position: relative;
  height: 50vh; /* ocupa a tela inteira */
  background-image: url("../Imagens/Imagem\ topo.png");
  background-size: cover; /* cobre todo o espaço */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* camada escura sobre a imagem */
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* escurece a imagem */
  display: flex;
  align-items: center;
  justify-content: center;
}