@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../fonts/Montserrat/Montserrat-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat-Regular', sans-serif;
}

.rodape {
  background-color: #024959;
  padding: 50px 60px;
  color: #ffffff;
  margin-top: 0;
  border-top: 4px solid #024959; 
}

.rodape-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
}

.coluna h3 {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 15px;
}

.coluna p,
.coluna a {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 0.95rem;
  line-height: 1.6;
  display: block;
  margin-bottom: 8px;
  transition: 0.3s;
}



.coluna a:hover,
.coluna p:hover {
  text-decoration: underline;
  color: #ffffff;
  transform: translateX(3px);
}

.logo-coluna {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo-uca {
  width: 150px;
}

.coluna-info {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.logo-dupla {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: -30px;
}

.logo-uca {
  width: 150px;
  height: auto;
}

.logo-petrobras {
  width: 90px;
  height: auto;
  opacity: 0.9;
  transition: 0.3s;
}

.logo-petrobras:hover {
  opacity: 1;
}

.logo-guardioes {
  width: 220px;
  height: auto;
  margin-top: -19px;
}