@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../fonts/Montserrat/Montserrat-Regular.ttf');
}
.topo {
  background-color: #024959;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 130px;
  height: 55px;
  object-fit: contain;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: #fff;
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

a,
a:focus,
a:active {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}



