header{
    display: inline-flex;
    background-color: #114b69;
    color: white;
    width: 100%;
    justify-content: space-between;
}

nav{
    
    justify-content: flex-end;
    padding: 0 20px;
    margin: auto 0;
}

ul{
    display: inline-flex;
    list-style-type: none;
}

li{
  color: white;
  font-family: "Montserrat", sans-serif;

}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover{
    transition: 0.5s;
    font-size: 1.1rem;
    font-weight: bolder;
}

.logo{
    height: 70%;
    width: 70%;
    margin: 10px 10px;
}
.logoLink{
    text-decoration: none;
    height: 20%;
    width: 20%;
    margin: 10px 10px;
}